<div class="container-fluid px-md-5">
  <div class="row justify-content-between">
    <div class="col-md-6 col-sm-12">
      <div class="banner-styles">
        <img src="assets/images/logo/logo.png"/>
      </div>
    </div>
    <div class="col-md-6 social-media-block">
      <a href="https://www.facebook.com" mat-mini-fab class="media-buttons">f</a>&nbsp;
      <a href="https://www.twitter.com" mat-mini-fab class="media-buttons">t</a>&nbsp;
    </div>
  </div>
  <hr>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon fontIcon="home"></mat-icon>
      </ng-template>
      <div style="margin-bottom: 10px">
        <app-home></app-home>
      </div>
    </mat-tab>
    <mat-tab label="Food & Beverages">
      <p style="text-align: center;">
        <img src="assets/images/placeholder_images/food_placeholder.png"/>
      </p>
    </mat-tab>
    <mat-tab label="Services & Expertise">
      <p style="text-align: center;">
        <img src="assets/images/placeholder_images/other_placeholder.png"/>
      </p>
    </mat-tab>
  </mat-tab-group>
</div>
<hr>
<footer>
  <div style="text-align: center;">
    <img src="assets/images/home/accredit.png" width="70" height="70"/>
  </div>
  <br>
</footer>